.popular__grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Updated to display 3 items in a row */
  gap: 2rem;
}

.popular__card {
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensure each card takes up the full width of its container */
}

.popular__content {
  padding: 1rem;
}

.popular__card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.popular__card__header h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.popular__content p {
  color: var(--text-light);
}
.popular__content p.more-detail-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto; /* This ensures the container takes the full height of the card */
}

.popular__content p a.more-detail-btn {
  display: inline-block;
  padding: 8px 12px;
  /* background-color: #570E19; */
  color: #570E19;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.popular__content p a.more-detail-btn:hover {
  color: #af5360;
}


/* Add this CSS to your existing style.css or in a new style tag in the head of your HTML document */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 45%;
}

.page-item {
  display: inline-block;
  margin: 0 5px;
}

.page-link {
  display: block;
  padding: 10px 15px;
  color: #fff;
  background-color: #570E19;
  border: 1px solid #570E19;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.page-link:hover {
  background-color: #af5360;
}

.page-item.active .page-link {
  background-color: #af5360;
  border-color: #af5360;
}

.page-link:focus {
  box-shadow: none;
}

.page-item.disabled .page-link {
  color: #6c757d;
  background-color: #fff;
  border-color: #dee2e6;
  cursor: not-allowed;
}

