<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./static/css/style.css" />
    <title>KANKO HOTEL NAVIGATOR</title>
  </head>
  <body>
    <div class="blank">

    </div>
    <nav>
      <div class="nav__logo"><img src="https://cdn.discordapp.com/attachments/867404242062278716/1173259980875509760/kanko_logo.png?ex=65634e81&is=6550d981&hm=9961436ce111d4330d7c196ff64b65da19e5b5caf362664d8b451d1551948b4b&" width="50" height="80"></div>
      <ul class="nav__links">
        <li class="link"><a href="#">Home</a></li>
        <li class="link"><a href="#">Book</a></li>
        <li class="link"><a href="#">Blog</a></li>
        <li class="link"><a href="#">Contact Us</a></li>
      </ul>
    </nav>
    <header class="section__container header__container">
      <div class="header__image__container">
        <div class="header__content">
          <h1>Find the Best <span>Hotel in Tokyo, Japan</span></h1>
          <p>Rising Sun Retreats: Tokyo's Best Stays</p>
        </div>
        <div class="booking__container">
          <form method="GET" action="{{ url_for('search') }}">
            <div class="form__group">
              <div class="input__group">
                <input type="text" name="keyword"/>
                <label>Search Tokyo Hostel...</label>
              </div>
              <p>Where are you staying?</p>
            </div>
            
            <button class="btn"><i class="ri-search-line"></i></button>
          </form>
          
        </div>
      </div>
    </header>
  </body>
</html>
